/* Table of Contents
==================================================

    #Page Styles
    #Media Queries
    #Font-Face */
/* #Page Styles
================================================== */
/* Layout Shortcodes */
.full-width {
  width: 1060px;
  height: auto;
  overflow: hidden;
}
.one_half {
  width: 48%;
}
.one_third {
  width: 30.66%;
}
.two_thirds {
  width: 65.33%;
}
.one_fourth {
  width: 22%;
}
.three_fourths {
  width: 74%;
}
.one_fifth {
  width: 16.8%;
}
.two_fifth {
  width: 37.6%;
}
.three_fifth {
  width: 58.4%;
}
.four_fifth {
  width: 67.2%;
}
.one_sixth {
  width: 13.33%;
}
.five_sixth {
  width: 82.67%;
}
.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  position: relative;
  margin-right: 4%;
  margin-bottom: 20px;
  float: left;
}
.last {
  margin-right: 0 !important;
}
/* #Media Queries
================================================== */
/* iPad Portrait/Browser */
@media only screen and max-width 1059px {
  #navigation ul {
    border-radius: 0;
  }
  #navigation ul li a {
    font-size: 1em;
    padding: 15px;
  }
  .resize {
    display: none;
  }
  #header #site-slogan {
    font-size: 1.25em;
  }
}
/* Mobile/Browser */
@media only screen and max-width 767px {
  #header #site-slogan {
    font-size: 1.25em;
  }
  #navigation {
    margin: 10px 0;
  }
  #navigation ul,
  #navigation ul li,
  #navigation ul li a {
    float: none;
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    behavior: none;
  }
  #navigation ul li a,
  #navigation ul li.active a,
  #navigation ul li a:hover,
  #navigation ul li:hover a {
    border: none;
    padding: 2px 0;
    line-height: 150%;
    background: transparent;
    background-image: none;
  }
  #breadcrumb {
    display: none;
  }
  .full-width,
  .one_half,
  .one_third,
  .two_thirds,
  .three_fourths,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth {
    width: 100%;
  }
  .resize {
    display: none;
  }
}
/* Anything smaller than standard 767 */
@media only screen and max-width 767px {
  #header .inner {
    margin-bottom: 30px;
  }
  #navigation ul li a {
    color: #3d3d3d;
    text-shadow: 0 0 0 rgba(0,0,0,.5);
    text-align: right;
  }
  #navigation ul li a:hover,
  #navigation ul li:hover a {
    border: 0;
    color: #63c8cc;
    -moz-box-shadow: inset 0 0 0 rgba(0,0,0,.35);
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.35);
    box-shadow: inset 0 0 0 rgba(0,0,0,.35);
  }
  #navigation ul li.active a {
    -moz-box-shadow: inset 0 0 0 rgba(0,0,0,.35);
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.35);
    box-shadow: inset 0 0 0 rgba(0,0,0,.35);
    color: #63c8cc;
  }
}
