@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #3d3d3d;
  background: #f0f3f3 url(../images/bg.jpg) repeat;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: #0c8cc4;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #63c8cc;
}
#main a {
  text-decoration: underline;
}
#main a:hover {
  text-decoration: none;
}
#main h1 a,
#main h2 a,
#main h3 a,
#main h4 a,
#main h5 a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
  margin: 0;
  font-family: bitter;
}
h1 {
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  margin-bottom: 14px;
}
h2 {
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 10px;
}
.block h2,
#footer h2 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 130%;
  margin-bottom: 10px;
}
h3 {
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 8px;
}
h4 {
  font-size: 17px;
  font-weight: 700;
  font-style: bold;
  line-height: 125%;
  margin-bottom: 8px;
}
h5 {
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 120%;
  margin-bottom: 8px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  font-weight: inherit;
  text-decoration: none;
}
p {
  margin: 0 0 20px;
}
del {
  text-decoration: line-through;
}
pre,
code {
  white-space: pre;
  background-color: #ededed;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  display: block;
  margin: 5px 0;
  padding: 5px;
  line-height: 125%;
  overflow: hidden;
  font: 12px/24px Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}
hr {
  border: solid #ddd;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  border-width: 1px 0 0;
}
.field-type-taxonomy-term-reference .field-item {
  float: left;
  padding: 0 1em 0 0;
  white-space: nowrap;
} /* Responsive Images */
img,
img.scale-with-grid {
  outline: 0;
  max-width: 100%;
  height: auto;
} /* Fonts */
body,
input,
textarea,
select,
a.button,
fieldset legend {
  font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
} /* Downloads - Documentation */
.cta {
  margin: 10px auto 0;
  padding: 10px 10px 20px;
  background-color: #f2f2f2;
  position: relative;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-shadow: #fff 1px 1px 0;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
  -moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
  -webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.cta h3 {
  font-size: 1.5em;
  text-shadow: #fff 1px -1px 0;
} /* Image Alignment Classes */
.alignright {
  float: right;
  margin: 0 0 10px 15px;
}
.alignleft {
  float: left;
  margin: 0 15px 10px 0;
}
.aligncenter {
  display: block;
  margin: 0 auto;
} /* Header */
#header {
  clear: both;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
}
#header .inner {
  float: left;
}
#logo {
  float: left;
  padding: 0 20px 0 0;
  float: left;
}
#site-name {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 55px;
  letter-spacing: -1px;
  float: left;
  font-family: Bitter;
}
#header #site-name a {
  color: #3d3d3d;
  margin: 0;
  padding: 0;
  line-height: 55px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -2px;
  text-shadow: 0 1px 0 #fff;
}
#header #site-name a:hover {
  color: #63c8cc;
}
#header #site-slogan {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  cletter-spacing: -1px;
} /* Breadcrumb */
.breadcrumb {
  padding: 0;
}
#breadcrumb {
  overflow: hidden;
  zoom: 1;
  margin: 0 0 1.5em !important;
  padding: 5px 0;
  font-size: .92em;
  color: #999 !important;
}
#breadcrumb a {
  color: #797979;
  margin-right: 6px;
  text-shadow: none;
}
#breadcrumb .sep {
  margin-right: 6px;
} /* Navigation */
#navigation {
  position: relative;
  float: right;
}
#navigation ul,
#navigation ul li {
  float: left;
  margin: 0;
  padding: 0;
}
#navigation ul {
  width: 100%;
  position: relative;
  border: 1px solid #65cfd3; /* stroke */
  background-color: #62c8cc; /* layer fill content */
  -moz-box-shadow: 0 2px 3px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75); /* drop shadow and inner shadow */
  -webkit-box-shadow: 0 2px 3px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75); /* drop shadow and inner shadow */
  box-shadow: 0 2px 3px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75); /* drop shadow and inner shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYzdjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiZGRlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: linear-gradient(bottom,#61c7cb0%, #6bdde1100%); /* gradient overlay */
  border-right-width: 0;
}
#navigation ul li {
  position: relative;
  list-style: none;
  background-image: none;
}
#navigation ul li a {
  font-size: 22px;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
  background-image: none;
  display: block;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  outline: none;
}
#navigation ul li:hover a,
#navigation ul li a:hover {
  position: relative;
  background-color: #4e9fa2; /* layer fill content */
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
  box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYzdjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwZTZlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: linear-gradient(bottom,#61c7cb0%, #70e6eb100%); /* gradient overlay */
}
#navigation ul li:hover li a {
  color: #595959;
  font-weight: 400;
}
#navigation ul li.active a,
#navigation ul li a.active {
  background-color: #4e9fa2; /* layer fill content */
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.35); /* inner shadow */
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.35); /* inner shadow */
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35); /* inner shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYzdjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYxYzdjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: 0; /* gradient overlay */
  background-image: linear-gradient(bottom,#61c7cb0%, #61c7cb100%); /* gradient overlay */
}
/* Main */
#wrap #content {
  float: left;
}
#main {
  margin-bottom: 20px;
}
.node.node-teaser {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}
.submitted {
  font-size: 13px;
  color: #666;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* Featured */
#featured .block {
  padding: 0 0 20px;
}
/* Footer */
#footer {
  clear: both;
  padding: 30px 0;
  border-top: 1px solid #d6d6d6;
  font-size: .9em;
}
#credits {
  text-align: center;
}
#footer .block {
  padding: 0 0 20px;
}
/* Highlighted */
.region-highlighted {
  padding: 20px 0;
}
/* Help */
.region-help {
  border: 1px solid #d3d7d9;
  padding: 20px;
  margin: 20px 0;
}
/* Table Styles */
table {
  border: 0;
  border-spacing: 0;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
table tr th {
  border-bottom: 0 solid #fff;
  border-top: 0 solid #ddd;
  font-weight: 400;
  color: #3d3d3d;
  background: #e0e0e0;
}
th {
  padding: 10px 15px;
  border: none;
}
td {
  padding: 20px 15px;
  border: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  font-weight: 700;
}
table tbody tr th {
  vertical-align: top;
}
tr.odd {
  background-color: #fafafa;
}
tr,
tr.even {
  background-color: #f9f9f9;
}
/* List Styles */
.block ol,
.block ul {
  margin: 0;
  padding: 0 0 .25em 1em;
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: .923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: .929em;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 .25em 2.5em;
}
.item-list ul li {
  margin: 0;
  padding: .2em .5em 0 0;
}
ul.links {
  font-size: 13px;
  color: #666;
}
ul.links.inline li {
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
  border-right: 1px solid #666;
}
ul.links.inline li.last {
  border: none;
}
/* Menus */
ul.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.menu li {
  list-style: none;
}
ul.menu li a {
  color: #0c8cc4;
  display: block;
  padding: 8px 0;
  line-height: 120%;
  font-weight: 700;
  text-decoration: none;
}
ul.menu li a:hover {
  color: #63c8cc;
}
ul.menu ul {
  margin: 0 0 0 1.3em;
}
ul.menu ul li a {
  border: none;
  padding: 4px 0;
  font-size: 14px;
  color: #0c8cc4;
  background: none;
}
ul.menu ul li a:hover {
  color: #63c8cc;
  background: none;
}
/* Comments */
.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0;
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 35px 0 0;
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: .786em;
}
.comment .submitted .comment-permalink {
  font-size: .786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: .929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -36px;
  margin-top: 15px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 0 25px 10px 35px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-left: 1px solid #d3d7d9;
}
.comment .indented {
  margin-left: 40px;
}
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
.comment .comment-text .comment-arrow {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* Sidebar */
#wrap #sidebar {
  float: right;
}
#sidebar .block {
  padding: 0 0 20px;
}
/* Messages */
#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
div.messages {
  margin: 10px 0;
}
/* -------------- User Profile   -------------- */
.profile .user-picture {
  float: none;
}
/* -------------- Form Elements   ------------- */
fieldset {
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 33px 10px 0;
  position: relative;
  top: 12px;
/* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 .2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: .857em;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 .5em .5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 .5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic;
}
input {
  margin: 2px 0;
  padding: 4px;
}
input,
textarea {
  font-size: .929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
.password-suggestions ul li {
  margin-left: 1.2em;
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: .929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}
/* Comment form */
.comment-form label {
  float: left;
  font-size: .929em;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px;
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.comment-form .form-text {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-form .form-item .description {
  font-size: .786em;
  line-height: 1.2;
  margin-left: 120px;
}
#content h2.comment-form {
  margin-bottom: .5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: .786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: .4em;
}
#edit-actions input {
  margin-right: .6em;
}
/* Other Overrides */
div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222;
  opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}
/* --------------- Search Form ---------------- */
#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left;
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 12em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
  filter: none;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}
/* Search Results */
ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: .4285em;
  margin-bottom: .5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: none;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}
/* Form Buttons */
button,
input[type=submit],
input[type=reset],
input[type=button] {
  border: 1px solid #65cfd3;
  background-color: #62c8cc;
  -moz-box-shadow: 0 2px 3px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75);
  -webkit-box-shadow: 0 2px 3px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75);
  box-shadow: 0 2px 3px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYzdjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiZGRlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: 0;
  background-image: 0;
  background-image: 0;
  background-image: linear-gradient(bottom,#61c7cb0%, #6bdde1100%);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  position: relative;
  font-weight: 700;
  padding: 8px 1em 9px;
}
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-color: #4e9fa2;
/* layer fill content */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxYzdjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwZTZlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
/* gradient overlay */
  background-image: 0;
/* gradient overlay */
  background-image: 0;
/* gradient overlay */
  background-image: 0;
/* gradient overlay */
  background-image: linear-gradient(bottom,#61c7cb0%, #70e6eb100%);
/* gradient overlay */
  cursor: pointer;
  -moz-box-shadow: 0 2px 5px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75);
  -webkit-box-shadow: 0 2px 5px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75);
  box-shadow: 0 2px 5px rgba(35,71,72,.67), inset 0 1px 1px rgba(255,255,255,.75);
}
button.full-width,
input[type=submit].full-width,
input[type=reset].full-width,
input[type=button].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
a.button,
#main a.button {
  text-decoration: none;
}
.button-alt,
.button,
.button.small,
.button.large,
.button.medium {
  background-image: none;
  padding: 8px 1em 9px;
  margin: 0;
  display: inline-block;
  font-stretch: narrower;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}
.button.left {
  float: left;
}
.button.right {
  float: right;
}
.button.center,
.button.middle {
  margin: 0 auto;
  text-align: center;
  display: inherit;
}
.button-alt a,
.button a,
.button.small a {
  font-size: .9em;
  line-height: 14px;
  text-decoration: none;
}
.button.medium a {
  font-size: 1.2em;
  line-height: 20px;
}
.button.large a {
  font-size: 1.5em;
  line-height: 24px;
} /* Default (Blue)  */
#bbp_reply_submit {
  padding: 10px 20px;
  font-size: 14px;
}
a.button,
#bbp_reply_submit { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #3a6198)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #597db10%, #3a6198100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#597db1', endColorstr='#3a6198');
  border: 1px solid #3b639b;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #7d99bf;
  -webkit-box-shadow: inset 0 1px 0 0 #7d99bf;
  -o-box-shadow: inset 0 1px 0 0 #7d99bf;
  box-shadow: inset 0 1px 0 0 #7d99bf;
  color: #fff;
  text-shadow: 0 1px 0 #2a4f83;
  position: relative;
}
a.button:hover,
#bbp_reply_submit:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #51719e)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #365a8c0%, #51719e100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#365a8c', endColorstr='#51719e');
  -moz-box-shadow: inset 0 1px 0 0 #728cb1;
  -webkit-box-shadow: inset 0 1px 0 0 #728cb1;
  -o-box-shadow: inset 0 1px 0 0 #728cb1;
  box-shadow: inset 0 1px 0 0 #728cb1;
  cursor: pointer;
}
a.button:active {
  -moz-box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  border: 1px solid #355a8d;
}
a.button span.btn_caption {
  color: #9ab5da;
  text-shadow: 0 1px 0 #2a4f83;
} /* White Button */
a.button.white {
  background: none; /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #e3e3e3)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #fffff0%, #e3e3e3100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3');
  border: 1px solid #dbdbdb;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -o-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  position: relative;
}
a.button.white:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #f2f2f2)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #dbdbdb0%, #f2f2f2100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#f2f2f2');
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -o-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  cursor: pointer;
}
a.button.white:active {
  -moz-box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eee;
  border: 1px solid #c2c2c2;
} /* Gray Button */
a.button.gray { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #c9c9c9)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #e6e6e60%, #c9c9c9100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#c9c9c9');
  border: 1px solid #c2c2c2;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -o-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #333;
  text-shadow: 0 1px 0 #f1eeee;
  position: relative;
}
a.button.gray:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #d9d9d9)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #c2c2c20%, #d9d9d9100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2', endColorstr='#d9d9d9');
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
  -o-box-shadow: inset 0 1px 0 0 #f2f2f2;
  box-shadow: inset 0 1px 0 0 #f2f2f2;
  cursor: pointer;
}
a.button.gray:active {
  -moz-box-shadow: inset 0 0 8px 4px #bababa, inset 0 0 8px 4px #bababa, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #bababa, inset 0 0 8px 4px #bababa, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #bababa, inset 0 0 8px 4px #bababa, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #bababa, inset 0 0 8px 4px #bababa, 0 1px 1px 0 #eee;
  border: 1px solid #a8a8a8;
}
a.button.gray span.btn_caption {
  color: #666;
  text-shadow: 0 1px 0 #f1eeee;
} /* Black Button  */
a.button.black { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #242424)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #4040400%, #242424100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#242424');
  border: 1px solid #1c1c1c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #595959;
  -webkit-box-shadow: inset 0 1px 0 0 #595959;
  -o-box-shadow: inset 0 1px 0 0 #595959;
  box-shadow: inset 0 1px 0 0 #595959;
  color: #fff;
  text-shadow: 0 1px 0 #150f0f;
  position: relative;
}
a.button.black:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #333333)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #1c1c1c0%, #333333100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#333333');
  -moz-box-shadow: inset 0 1px 0 0 #4d4d4d;
  -webkit-box-shadow: inset 0 1px 0 0 #4d4d4d;
  -o-box-shadow: inset 0 1px 0 0 #4d4d4d;
  box-shadow: inset 0 1px 0 0 #4d4d4d;
  cursor: pointer;
}
a.button.black:active {
  -moz-box-shadow: inset 0 0 8px 4px #141414, inset 0 0 8px 4px #141414, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #141414, inset 0 0 8px 4px #141414, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #141414, inset 0 0 8px 4px #141414, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #141414, inset 0 0 8px 4px #141414, 0 1px 1px 0 #eee;
  border: 1px solid #030303;
}
a.button.black span.btn_caption {
  color: #bfbfbf;
  text-shadow: 0 1px 0 #150f0f;
} /* Light Blue Button  */
a.button-alt,
a.button.lightblue { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #2489d6)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #5aa1d80%, #2489d6100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5aa1d8', endColorstr='#2489d6');
  border: 1px solid #258cda;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #85b9e0;
  -webkit-box-shadow: inset 0 1px 0 0 #85b9e0;
  -o-box-shadow: inset 0 1px 0 0 #85b9e0;
  box-shadow: inset 0 1px 0 0 #85b9e0;
  color: #fff;
  text-shadow: 0 1px 0 #1976be;
  position: relative;
}
a.button-alt:hover,
a.button.lightblue:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #4a95cf)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #2380c70%, #4a95cf100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2380c7', endColorstr='#4a95cf');
  -moz-box-shadow: inset 0 1px 0 0 #75acd7;
  -webkit-box-shadow: inset 0 1px 0 0 #75acd7;
  -o-box-shadow: inset 0 1px 0 0 #75acd7;
  box-shadow: inset 0 1px 0 0 #75acd7;
  cursor: pointer;
}
a.button-alt:active,
a.button.lightblue:active {
  -moz-box-shadow: inset 0 0 8px 4px #2278b9, inset 0 0 8px 4px #2278b9, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #2278b9, inset 0 0 8px 4px #2278b9, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #2278b9, inset 0 0 8px 4px #2278b9, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #2278b9, inset 0 0 8px 4px #2278b9, 0 1px 1px 0 #eee;
  border: 1px solid #2280c9;
}
a.button.lightblue span.btn_caption {
  color: #acd3f1;
  text-shadow: 0 1px 0 #1976be;
} /* Blue Button */
a.button.blue { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #3a6198)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #597db10%, #3a6198100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#597db1', endColorstr='#3a6198');
  border: 1px solid #3b639b;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #7d99bf;
  -webkit-box-shadow: inset 0 1px 0 0 #7d99bf;
  -o-box-shadow: inset 0 1px 0 0 #7d99bf;
  box-shadow: inset 0 1px 0 0 #7d99bf;
  color: #fff;
  text-shadow: 0 1px 0 #2a4f83;
  position: relative;
}
a.button.blue:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #51719e)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #365a8c0%, #51719e100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#365a8c', endColorstr='#51719e');
  -moz-box-shadow: inset 0 1px 0 0 #728cb1;
  -webkit-box-shadow: inset 0 1px 0 0 #728cb1;
  -o-box-shadow: inset 0 1px 0 0 #728cb1;
  box-shadow: inset 0 1px 0 0 #728cb1;
  cursor: pointer;
}
a.button.blue:active {
  -moz-box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #335380, inset 0 0 8px 4px #335380, 0 1px 1px 0 #eee;
  border: 1px solid #355a8d;
}
a.button.blue span.btn_caption {
  color: #9ab5da;
  text-shadow: 0 1px 0 #2a4f83;
} /* Dark Blue Button */
a.button.darkblue { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #1c3b7d)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #3054a10%, #1c3b7d100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3054a1', endColorstr='#1c3b7d');
  border: 1px solid #1d3d81;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #416ac3;
  -webkit-box-shadow: inset 0 1px 0 0 #416ac3;
  -o-box-shadow: inset 0 1px 0 0 #416ac3;
  box-shadow: inset 0 1px 0 0 #416ac3;
  color: #fff;
  text-shadow: 0 1px 0 #122c63;
  position: relative;
}
a.button.darkblue:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #2e4b8a)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #1a35700%, #2e4b8a100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3570', endColorstr='#2e4b8a');
  -moz-box-shadow: inset 0 1px 0 0 #3e61ac;
  -webkit-box-shadow: inset 0 1px 0 0 #3e61ac;
  -o-box-shadow: inset 0 1px 0 0 #3e61ac;
  box-shadow: inset 0 1px 0 0 #3e61ac;
  cursor: pointer;
}
a.button.darkblue:active {
  -moz-box-shadow: inset 0 0 8px 4px #183063, inset 0 0 8px 4px #183063, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #183063, inset 0 0 8px 4px #183063, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #183063, inset 0 0 8px 4px #183063, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #183063, inset 0 0 8px 4px #183063, 0 1px 1px 0 #eee;
  border: 1px solid #193570;
}
a.button.darkblue span.btn_caption {
  color: #6087dc;
  text-shadow: 0 1px 0 #122c63;
} /* Light Green Button */
a.button.lightgreen { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #63a72f)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #80bf4f0%, #63a72f100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80bf4f', endColorstr='#63a72f');
  border: 1px solid #65ab30;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #9bcb76;
  -webkit-box-shadow: inset 0 1px 0 0 #9bcb76;
  -o-box-shadow: inset 0 1px 0 0 #9bcb76;
  box-shadow: inset 0 1px 0 0 #9bcb76;
  color: #fff;
  text-shadow: 0 1px 0 #529122;
  position: relative;
}
a.button.lightgreen:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #73af46)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #5c9a2d0%, #73af46100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c9a2d', endColorstr='#73af46');
  -moz-box-shadow: inset 0 1px 0 0 #8ebf69;
  -webkit-box-shadow: inset 0 1px 0 0 #8ebf69;
  -o-box-shadow: inset 0 1px 0 0 #8ebf69;
  box-shadow: inset 0 1px 0 0 #8ebf69;
  cursor: pointer;
}
a.button.lightgreen:active {
  -moz-box-shadow: inset 0 0 8px 4px #558d2a, inset 0 0 8px 4px #558d2a, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #558d2a, inset 0 0 8px 4px #558d2a, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #558d2a, inset 0 0 8px 4px #558d2a, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #558d2a, inset 0 0 8px 4px #558d2a, 0 1px 1px 0 #eee;
  border: 1px solid #5c9b2c;
}
a.button.lightgreen span.btn_caption {
  color: #b8e297;
  text-shadow: 0 1px 0 #529122;
} /* Green Button */
a.button.green { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #4a6d2c)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #668b460%, #4a6d2c100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#668b46', endColorstr='#4a6d2c');
  border: 1px solid #4d702e;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #7fa95b;
  -webkit-box-shadow: inset 0 1px 0 0 #7fa95b;
  -o-box-shadow: inset 0 1px 0 0 #7fa95b;
  box-shadow: inset 0 1px 0 0 #7fa95b;
  color: #fff;
  text-shadow: 0 1px 0 #39571e;
  position: relative;
}
a.button.green:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #5a7641)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #4361290%, #5a7641100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#436129', endColorstr='#5a7641');
  -moz-box-shadow: inset 0 1px 0 0 #739457;
  -webkit-box-shadow: inset 0 1px 0 0 #739457;
  -o-box-shadow: inset 0 1px 0 0 #739457;
  box-shadow: inset 0 1px 0 0 #739457;
  cursor: pointer;
}
a.button.green:active {
  -moz-box-shadow: inset 0 0 8px 4px #3c5625, inset 0 0 8px 4px #3c5625, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #3c5625, inset 0 0 8px 4px #3c5625, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #3c5625, inset 0 0 8px 4px #3c5625, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #3c5625, inset 0 0 8px 4px #3c5625, 0 1px 1px 0 #eee;
  border: 1px solid #436228;
}
a.button.green span.btn_caption {
  color: #9bc874;
  text-shadow: 0 1px 0 #39571e;
} /* Dark Green Button */
a.button.darkgreen { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #2f5511)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #497c220%, #2f5511100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#497c22', endColorstr='#2f5511');
  border: 1px solid #315912;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #61a22f;
  -webkit-box-shadow: inset 0 1px 0 0 #61a22f;
  -o-box-shadow: inset 0 1px 0 0 #61a22f;
  box-shadow: inset 0 1px 0 0 #61a22f;
  color: #fff;
  text-shadow: 0 1px 0 #1e3909;
  position: relative;
}
a.button.darkgreen:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #3e651f)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #28480f0%, #3e651f100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28480f', endColorstr='#3e651f');
  -moz-box-shadow: inset 0 1px 0 0 #568a2e;
  -webkit-box-shadow: inset 0 1px 0 0 #568a2e;
  -o-box-shadow: inset 0 1px 0 0 #568a2e;
  box-shadow: inset 0 1px 0 0 #568a2e;
  cursor: pointer;
}
a.button.darkgreen:active {
  -moz-box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eee;
  border: 1px solid #28480f;
}
a.button.darkgreen span.btn_caption {
  color: #7ad733;
  text-shadow: 0 1px 0 #1e3909;
} /* Light Red Button */
a.button.lightred { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #d82222)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #da58580%, #d82222100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5858', endColorstr='#d82222');
  border: 1px solid #d22;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #e28383;
  -webkit-box-shadow: inset 0 1px 0 0 #e28383;
  -o-box-shadow: inset 0 1px 0 0 #e28383;
  box-shadow: inset 0 1px 0 0 #e28383;
  color: #fff;
  text-shadow: 0 1px 0 #c01616;
  position: relative;
}
a.button.lightred:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #d14747)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #ca21210%, #d14747100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca2121', endColorstr='#d14747');
  -moz-box-shadow: inset 0 1px 0 0 #d97373;
  -webkit-box-shadow: inset 0 1px 0 0 #d97373;
  -o-box-shadow: inset 0 1px 0 0 #d97373;
  box-shadow: inset 0 1px 0 0 #d97373;
  cursor: pointer;
}
a.button.lightred:active {
  -moz-box-shadow: inset 0 0 8px 4px #bc2020, inset 0 0 8px 4px #bc2020, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #bc2020, inset 0 0 8px 4px #bc2020, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #bc2020, inset 0 0 8px 4px #bc2020, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #bc2020, inset 0 0 8px 4px #bc2020, 0 1px 1px 0 #eee;
  border: 1px solid #cb2020;
}
a.button.lightred span.btn_caption {
  color: #f2abab;
  text-shadow: 0 1px 0 #c01616;
} /* Red Button */
a.button.red { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #ae0a0a)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #d818180%, #ae0a0a100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d81818', endColorstr='#ae0a0a');
  border: 1px solid #b20a0a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #e73c3c;
  -webkit-box-shadow: inset 0 1px 0 0 #e73c3c;
  -o-box-shadow: inset 0 1px 0 0 #e73c3c;
  box-shadow: inset 0 1px 0 0 #e73c3c;
  color: #fff;
  text-shadow: 0 1px 0 #900404;
  position: relative;
}
a.button.red:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #bc1a1a)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #9e0a0a0%, #bc1a1a100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e0a0a', endColorstr='#bc1a1a');
  -moz-box-shadow: inset 0 1px 0 0 #de2b2b;
  -webkit-box-shadow: inset 0 1px 0 0 #de2b2b;
  -o-box-shadow: inset 0 1px 0 0 #de2b2b;
  box-shadow: inset 0 1px 0 0 #de2b2b;
  cursor: pointer;
}
a.button.red:active {
  -moz-box-shadow: inset 0 0 8px 4px #8f0a0a, inset 0 0 8px 4px #8f0a0a, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #8f0a0a, inset 0 0 8px 4px #8f0a0a, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #8f0a0a, inset 0 0 8px 4px #8f0a0a, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #8f0a0a, inset 0 0 8px 4px #8f0a0a, 0 1px 1px 0 #eee;
  border: 1px solid #9f0909;
}
a.button.red span.btn_caption {
  color: #f76464;
  text-shadow: 0 1px 0 #900404;
} /* Dark Red Button */
a.button.darkred { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #6b0606)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #9810100%, #6b0606100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#981010', endColorstr='#6b0606');
  border: 1px solid #6f0606;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #c41717;
  -webkit-box-shadow: inset 0 1px 0 0 #c41717;
  -o-box-shadow: inset 0 1px 0 0 #c41717;
  box-shadow: inset 0 1px 0 0 #c41717;
  color: #fff;
  text-shadow: 0 1px 0 #4b0202;
  position: relative;
}
a.button.darkred:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #7e1010)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #5c05050%, #7e1010100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c0505', endColorstr='#7e1010');
  -moz-box-shadow: inset 0 1px 0 0 #a91919;
  -webkit-box-shadow: inset 0 1px 0 0 #a91919;
  -o-box-shadow: inset 0 1px 0 0 #a91919;
  box-shadow: inset 0 1px 0 0 #a91919;
  cursor: pointer;
}
a.button.darkred:active {
  -moz-box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eee;
  border: 1px solid #5c0505;
}
a.button.darkred span.btn_caption {
  color: #f41f1f;
  text-shadow: 0 1px 0 #4b0202;
} /* Yellow Button */
a.button.yellow { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #a79f0c)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #d1c81a0%, #a79f0c100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1c81a', endColorstr='#a79f0c');
  border: 1px solid #aca40c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #e4dc3a;
  -webkit-box-shadow: inset 0 1px 0 0 #e4dc3a;
  -o-box-shadow: inset 0 1px 0 0 #e4dc3a;
  box-shadow: inset 0 1px 0 0 #e4dc3a;
  color: #fff;
  text-shadow: 0 1px 0 #8a8305;
  position: relative;
}
a.button.yellow:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #b6ae1b)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #98910b0%, #b6ae1b100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98910b', endColorstr='#b6ae1b');
  -moz-box-shadow: inset 0 1px 0 0 #dbd229;
  -webkit-box-shadow: inset 0 1px 0 0 #dbd229;
  -o-box-shadow: inset 0 1px 0 0 #dbd229;
  box-shadow: inset 0 1px 0 0 #dbd229;
  cursor: pointer;
}
a.button.yellow:active {
  -moz-box-shadow: inset 0 0 8px 4px #89830b, inset 0 0 8px 4px #89830b, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #89830b, inset 0 0 8px 4px #89830b, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #89830b, inset 0 0 8px 4px #89830b, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #89830b, inset 0 0 8px 4px #89830b, 0 1px 1px 0 #eee;
  border: 1px solid #99910b;
}
a.button.yellow span.btn_caption {
  color: #f5ed61;
  text-shadow: 0 1px 0 #8a8305;
} /* Orange Button */
a.button.orange { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #a7710c)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #d1911a0%, #a7710c100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1911a', endColorstr='#a7710c');
  border: 1px solid #ac740c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #e4a83a;
  -webkit-box-shadow: inset 0 1px 0 0 #e4a83a;
  -o-box-shadow: inset 0 1px 0 0 #e4a83a;
  box-shadow: inset 0 1px 0 0 #e4a83a;
  color: #fff;
  text-shadow: 0 1px 0 #8a5b05;
  position: relative;
}
a.button.orange:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #b6801b)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #98670b0%, #b6801b100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98670b', endColorstr='#b6801b');
  -moz-box-shadow: inset 0 1px 0 0 #db9d29;
  -webkit-box-shadow: inset 0 1px 0 0 #db9d29;
  -o-box-shadow: inset 0 1px 0 0 #db9d29;
  box-shadow: inset 0 1px 0 0 #db9d29;
  cursor: pointer;
}
a.button.orange:active {
  -moz-box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eee;
  border: 1px solid #99670b;
}
a.button.orange span.btn_caption {
  color: #f5c161;
  text-shadow: 0 1px 0 #8a5b05;
} /* Brown Button */
a.button.brown { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #513e15)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #775e280%, #513e15100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#775e28', endColorstr='#513e15');
  border: 1px solid #554116;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 #9b7b36;
  -webkit-box-shadow: inset 0 1px 0 0 #9b7b36;
  -o-box-shadow: inset 0 1px 0 0 #9b7b36;
  box-shadow: inset 0 1px 0 0 #9b7b36;
  color: #fff;
  text-shadow: 0 1px 0 #37290c;
  position: relative;
}
a.button.brown:hover { /* IE10 */
  background-image: 0; /* Mozilla Firefox */
  background-image: 0; /* Opera */
  background-image: 0; /* Webkit (Safari/Chrome 10) */
  background-image: 0 color-stop(1, #614d24)); /* Webkit (Chrome 11+) */
  background-image: 0; /* Proposed W3C Markup */
  background-image: linear-gradient(top, #4435120%, #614d24100%); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#443512', endColorstr='#614d24');
  -moz-box-shadow: inset 0 1px 0 0 #836a34;
  -webkit-box-shadow: inset 0 1px 0 0 #836a34;
  -o-box-shadow: inset 0 1px 0 0 #836a34;
  box-shadow: inset 0 1px 0 0 #836a34;
  cursor: pointer;
}
a.button.brown:active {
  -moz-box-shadow: inset 0 0 8px 4px #382b0f, inset 0 0 8px 4px #382b0f, 0 1px 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #382b0f, inset 0 0 8px 4px #382b0f, 0 1px 1px 0 #eee;
  -o-box-shadow: inset 0 0 8px 4px #382b0f, inset 0 0 8px 4px #382b0f, 0 1px 1px 0 #eee;
  box-shadow: inset 0 0 8px 4px #382b0f, inset 0 0 8px 4px #382b0f, 0 1px 1px 0 #eee;
  border: 1px solid #453512;
}
a.button.brown span.btn_caption {
  color: #cea03b;
  text-shadow: 0 1px 0 #37290c;
} /* Resize */
.resize {
  background: url(../images/resize.png) repeat scroll 0 0 transparent;
  bottom: 0;
  height: 80px;
  position: fixed;
  right: 0;
  width: 80px;
  z-index: 1;
}
.node-forum,
.node-blog {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #d6d6d6;
}
div.status { /*color: #33a333; 
  border-color: #c7f2c8;*/
  color: #33a333;
  font-weight: 700;
  border-color: #33a333;
  border-width: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  padding: 10px 20px;
  background: #fff;
  background-image: none;
}
div.error,
tr.error {
  background: #fff;
  color: #df281c;
  font-weight: 700;
  border-color: #df281c;
  border-width: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  padding: 10px 20px;
}
div.error a,
tr.error a {
  text-decoration: underline;
}
div.warning,
tr.warning {
  background: #fff;
  color: #db901f;
  font-weight: 700;
  border-color: #db901f;
  border-width: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  padding: 10px 20px;
}
.form-item input.error,
.form-item textarea.error {
  border: 1px solid #c52020 !important;
  color: #363636;
}
.help {
  font-size: .9em;
  padding: 10px;
  padding-bottom: 0;
  background-color: #fff;
  border: 2px solid #74bbeb;
  margin-top: 20px;
  margin-bottom: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),transparent 0 0 0 0 0 0 0 0 0 0 0 0;
  padding: 10px 20px;
}